//////// ul ol li
.unstyled {
   margin:0;
   padding:0;
   list-style: none;
}

.link {
   color:$accentColor;
   padding:2px 0;
   position: relative;
   text-decoration:none;
   transition: color .40s;
   z-index: 2;
   &:hover, &:focus {
      color: white;
      &:before {
         height:100%;
      }
   }
   &:before{
      content:"";
      transition: height .40s;
      position: absolute;
      display: block;
      bottom:0;
      left:0;
      width:100%;
      height:1px;
      z-index:-1;
      background-color:$accentColor;

   }
}