.backdrop {
   position: fixed;
   z-index:9999;
   background-color: rgba(0,0,0,.65);
   top:0; left:0; bottom:0; right:0; 
}

.modal {
   overflow: hidden;
   overflow-y:auto;
   position:fixed;
   top:0; left:0; bottom:0; right:0; 
   //top:20vh;
   //left:5%;
   z-index:9999999;

   

   &.modal_small {
      .modal_content {
         @media (min-width: 768px){
            width:25rem;
            left: calc(( 100% - 30rem ) /2);
         }
      }
   }

   .modal_content {
      position: absolute;
      margin:0 auto;
      top:50%;
      transform:translateY(-50%);
      left:5%;
      width:90%;
      background-color:white;
      color:$primaryColor;
      box-shadow:0 2px 8px rgba(0,0,0,0.26);

      @media (min-width: 768px){
         width:40rem;
         left: calc(( 100% - 40rem ) /2);
      }
   }

   .modal_header, .modal_footer {
      padding:18px 24px;
      display: flex;
      justify-content: space-between;
      align-items:center;
   }

   .modal_header {
      .modal_title {
         font-weight: $regular;
         margin:0;
         padding:0;
      }
   }

   .modal_body {
      padding:18px 24px;
   }

   .modal_footer {
      justify-content: flex-end;
      .button {
         margin-right:4px;
      }
   }
}