/////// app
.app {
   height:100vh;
   position: relative;
   display: table;
   width:100%;
   border-collapse: collapse;
}


////////////// wrapper
.wrapper{
   padding-right:20px;
   padding-left:20px;
}


//////////////// content
.content {
   overflow: hidden;
   position: absolute;
   width: 100%;
   top: 0;
   //overflow-y: auto;
   bottom: 100px;
   @media(max-width: $mobile){
      position: static;
      overflow: auto;
   }
   
   .wrapper {
      padding-top:20px;
      padding-bottom:20px;
   }

   .content_wrapper {
      height:100%;
      display: flex;
      @media(max-width: $mobile){
        flex-direction: column;
     }

      > div {
         flex:1;
      }
      .personal_details {
         max-width:380px;
         text-align:center;
          @media(max-width: $mobile){
            width:100%;
            max-width:100%;
         }
      }
   }

   .content_column {
      overflow:hidden;
      overflow-y:auto;
   }
}



/////////////////// contact_list
.contact_list {
   margin:0;
   padding:0;
   list-style:none;
   display:flex;
   align-items:center;
   flex-wrap:wrap;
   @media(max-width: $mobile){
    height:auto;
    width:100%;
    margin:18px 0 24px;
    align-items: flex-start;
    flex-direction: column;
   }
   

   li {
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      margin-right:50px;
      @media(max-width: $mobile){
        margin:14px 0;
      }

      &:last-child {
         margin:0;
      }

      .icon {
         margin-right:14px;
         max-width:42px;
         width:36px;

         img {
            max-width:100%;
         }
      }

      > div {
         a, a:visited, a:focus {
            //color:$accentColor;
            //text-decoration:underline;
         }
         span {
            color:darken($textColor,10%);
            font-size:90%;
         }
      }
   }
}


///////// footer
.footer {
   width:100%;
   display: table-row;
   height:100px;
   background-color:darken(#2b4473, 1%);
   border-top:1px solid rgba(white, .1);

   .wrapper, .contact_list {
      height:100px;
      @media(max-width: $mobile){
        height:auto;
     }
   }

   .wrapper {
      display:flex;
      align-items:center;
      justify-content:space-between;
      @media(max-width: $mobile){
        flex-direction: column;
     }
   }

   .copyright {
      small, span {
         color:darken($textColor, 10%);
      }
       @media(max-width: $mobile){
        width: 100%;
        padding: 12px 0 24px;
       }
   }
}

//////// section
.section {
   
   &.sec_pad_top {
      padding-top:60px;
   }
   &.sec_pad_top {
      padding-bottom:60px;
   }
}


//////// personal_detail
.personal_details {
   display:flex;
   flex-wrap:wrap;
   align-items:center;
   width: 100%;
   height: 100%;
   //padding:20px;
   justify-content: center;
   flex-direction: column;

   .title {
      font-size: 2.6rem;
      letter-spacing: -2px;
      font-weight:$bold;
      padding:0;
      margin:0;
   }
   .position {
      font-weight: $regular;
      margin:0;
      padding:0;
   }

   // > div {
   //    flex:1;
   //    padding:20px;
   // }

   // .personal_info {
   //    text-align:right;

   //    h1 {
   //       font: 900 60px/88px $primaryFont;
   //       font-size: 100px;
   //       letter-spacing: -4px;
   //       padding:0;
   //       margin:0;
   //    }
   //    h4 {
   //       margin:0 0 30px 0;
   //       padding:0;
   //       font-size:22px;
   //       //color:$mutedColor;
   //       font-weight:$regular;
   //       text-decoration: uppercase;
   //    }
   //    strong {
   //       text-transform: uppercase;
   //       margin-left:10px;
   //    }
   // }

   
}


////////// avatar
.avatar_container {
   position: relative;
   width:280px;
   margin:0 auto 80px;
   display: block;
   @media(max-width: $mobile){
      margin:40px auto 80px;
   }

   &:before {
      position: absolute;
      display: block;
      content:"";
      width:440px;
      height:440px;
      border-radius:50%;
      border:1px dashed white;
      top:-80px;
      left:-80px;
      //background: rgb(42,65,114);
      //background: radial-gradient(circle, rgba(42,65,114,1) 0%, rgba(255,255,255,1) 100%);
      opacity: .1;
   }

   &:after {
      position: absolute;
      display: block;
      content:"";
      width:480px;
      height:480px;
      border-radius:50%;
      border:1px dashed white;
      top:-100px;
      left:-100px;
      //background: rgb(42,65,114);
      //background: radial-gradient(circle, rgba(42,65,114,1) 0%, rgba(255,255,255,1) 100%);
      opacity: .05;
   }
}
.avatar {
   margin:0 auto;
   display: block;
   padding:0;
   border-radius:50%;
   position:relative;
   width:280px;
   &:before {
      width:320px;
      height:320px;
      border-radius:50%;
      border:1px dashed white;
      position: absolute;
      top:-20px;
      left:-20px;
      display: block;
      content:"";
      background: rgb(42,65,114);
      background: radial-gradient(circle, rgba(42,65,114,.3) 0%, rgba(255,255,255,.3) 100%);
      //background: rgb(255,46,46);
      //background: linear-gradient(90deg, rgba(255,46,46,0.6516981792717087) 0%, rgba(250,46,118,1) 72%, rgba(244,45,171,1) 100%);
      //opacity:.1;
      //z-index: 2;
      opacity: .3;
   }
   &:after {
      position: absolute;
      display: block;
      content:"";
      width:380px;
      height:380px;
      border-radius:50%;
      border:1px dashed white;
      top:-50px;
      left:-50px;
      //background: rgb(42,65,114);
      //background: radial-gradient(circle, rgba(42,65,114,1) 0%, rgba(255,255,255,1) 100%);
      opacity: .2;
   }

   img {
      position: relative;
      z-index: 4;
      display: block;
      border-radius:50%;
      max-width:100%;
   }
}


////////// socials
.socials {
      
   a{
      width:34px;
      text-decoration:none;
      color: white;
      height:34px;
      display:flex;
      align-items:center;
      justify-content: center;
      border-radius:50%;
      background-color:$accentColor;
      position: absolute;
      z-index:1;

      &.so_linkedin { 
         top:0; right:20px; 
         background-color: #018faf
      }
      &.so_twitter {
         left: 50%; bottom: -60px; 
         background-color: #0ea4ff
      }
      &.so_facebook {
         left: -40px; top: 80%; 
         background-color: #0e59a0
      }
      
   }

}


////////// dropzone
.dropzone {
	width:100%;
	padding:24px;
	height:auto;
   font-size:10px;
   outline:none;
   cursor: pointer;
	margin:7px 0;
	border:2px dashed #ccc;
	transition: border-color 0.15s ease-in-out; 
}
.dropzone:hover, .dropzone:focus {
	border-color:#a1a1a1;
}

.selected_images {
   margin:0; padding:5px; list-style:none;
   display:flex;
   align-items:center;
   border:1px solid #e2e2e2;
   width:100%;

   img {
      max-height:100px;
      margin-right:12px;
   }
}
.selected_images li {
	margin:0; list-style:none;
   margin-right:5px;
   width:120px;
   padding:2px;
	border:1px solid #e2e2e2;
	overflow:hidden;
	position:relative;
}
.selected_images li img {
	width:100%;
	margin:0; padding:0;
	display:block;
}
.selected_images li .remove {
	position:absolute;
	right:-10px;
	top:-10px;
	width:20px;
	height:20px;
	line-height:18px;
	background-color:#d7d7d7;
	color:#000;
	text-align:center;
	z-index:2;
}



////////// panel
.panel_group {
   .panel {
      margin:0;
      border-radius:0;
      &:first-child {
         border-radius:6px 6px 0 0;
         .panel_header {
            border-radius:6px 6px 0 0;
         }
         .panel_body {
            border-radius:0;
         }
      }

      &:last-child {
         border-radius:0 0 6px 6px;
         .panel_header {
            border-radius:0 0 6px 6px;
         }
         &.panel_opened {
            .panel_header {
               border-radius:0;
            }
         }
         .panel_body {
            border-radius:0;
         }
      }

      

      .panel_header {
         border-radius:0;
      }

      &:last-child {
         .panel_body {
            border-radius:0 0 5px 5px;
         }
      }
   }
}
.panel {
   position: relative;
   border-radius:5px;
   border:1px solid lighten(#6F81A6,5%);

   //header
   .panel_header {
      padding:10px 24px;
      background-color: #6F81A6;
      border-radius:5px 5px 0 0;

      .panel_title {
         text-transform:uppercase;
         font-weight:$bold;
      }
   }

   //body
   .panel_body {
      padding:24px;
      background-color: #465D89;
      border-radius:0 0 5px 5px;
   }
}


///////// sec_heading
.sec_heading {
   display:flex;
   justify-content: space-between;
   align-items:center;
   padding: 10px 24px;
   border-radius:5px;
   background-color: #6F81A6;

}



///// skills
.skills {
   display: flex;
   justify-content: space-between;
   align-items:center;
   flex-wrap:wrap;
   margin-top:24px;

   .progress-line  {
      width:31%;
   }
}

/* Progress Bar: Line */
.progress-line {
    margin-bottom: 20px;

    &.lg {
        margin-bottom:30px;
    }
}

.progress-line .progress-title {
    padding-right: 3.8em;
}

.progress-line .progress-bar {
    width: 100%;
    height: 5px;
    margin-top:3px;
}

.progress-line svg {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 5px;
}

.progress-chart {
    text-align: center;
    display: inline-block;
}

.progress-chart .progress-title {
    margin-top: 10px;
}

.progress-chart .progress-bar {
    height: 93px;
    width: 93px;
    margin: 0 auto;
    position: relative;
}

.progress-chart .progress-bar svg {
    height: 100%;
    display: block;
}


.portfolio {
   .sec_heading {
      padding:0;
      background:transparent;
      .title {
         margin:0;
      }
   }
}


///// education
.education {
   margin:0;
   padding:0;
   list-style: none;

   li {
      margin-bottom:24px;
      padding:16px;
      padding-left:42px;
      border: 1px dashed rgba(256,256,256,.2);
      border-radius: 4px;
      background: rgba(256,256,256,.1);
      &:last-child {
         margin:0;
      }

      .education_date {
         margin:0;
         position: relative;
         color:$accentColor;
         &:before {
            content:"\f061";
            position: absolute;
            left:-25px;
            top:4px;
            display:block;
            font-size:.8em;
            font-family:'Font Awesome 5 Free';
            color:rgba(white,.7);
         }
      }
   }
}


//////// overlay_layer
.overlay_layer {
   background-image:url(../img/ahmedsaeed.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position:0 0;
   position:absolute;
   top:-50px;
   left:0;
   height:100%;
   width:50%;
   @media(max-width: $mobile){
    width:100%;
   }
}


////////// employment_list
.employment_list {
   margin:0;
   padding:0;
   list-style: none;

   .employment_item {
      padding:12px 0 32px;
      display:flex;
      position: relative;

      &:after {
         content:"";
         display: block;
         position: absolute;
         top:0;
         left:100px;
         height:100%;
         width:2px;
         background-color:rgba(white,.3);
      }

      &:before {
         content:"";
         display: block;
         position: absolute;
         top:18px;
         left:100px;
         margin-left:-4px;
         height:10px;
         width:10px;
         border-radius:50%;
         background-color:$accentColor;
         z-index:1;
      }

      &:last-child {
         padding-bottom:12px;
      }

      .employment_date {
         text-align: right;
         width:100px;
         padding-right:28px;
         h3 {
            margin:0;
            color:$accentColor;
            font-size:1rem;
            font-weight: $regular;

            span {
               display: inline-block;
               padding:2px 14px;
               border-radius:14px;
               background-color:$accentColor;
               color:white;
            }
         }
      }
      .employment_content {
         flex:1;
         padding-left:28px;
         h3 {
            margin:0 0 5px 0;
            color:$accentColor;
         }
         h4 {
            margin:5px 0;
         }
      }
   }
}


//////////// portfolio_item
.portfolio_list {
   display: flex;
   flex-wrap:wrap;
   justify-content: flex-start;
   margin:12px 0;

   .portfolio_item {
      display: inline-block;
      box-shadow: 0 2px 15px 0 rgba(0,0,0,.07);
      border-radius:6px;
      margin:18px 0 0;
      width:32%;
      position: relative;
      overflow:hidden;
      margin-right:1%;

      &:nth-child(n3){
         margin-right:0;
      }

      &:hover {
         .remove_portfolio_item{
            transform:translateY(0);
         }
      }

      .remove_portfolio_item {
         position: absolute;
         right:5px;
         top:5px;
         width:28px;
         height:28px;
         border-radius:50%;
         padding:0;
         display:flex;
         cursor:pointer;
         justify-content: center;
         align-items:center;
         z-index:1;
         transition: transform .45s;
         transform:translateY(-50px);
      }

      > a {
         display:block;
         border-radius:6px;
         cursor: pointer;
         text-decoration:none;
         overflow:hidden;
      }

      figure {
         margin:0;
         padding:0;
         border-radius:6px 6px;
         position: relative;
         display: block;
         overflow: hidden;
         &:hover {
            figcaption {
               opacity: 1;
               transform:translateY(0);
            }
         }


         img {
            max-width:100%;
            //min-height:164px;
            display: block;
            border-radius:6px;
         }

         figcaption {
            position: absolute;
            bottom:0; left:0; 
            transform:translateY(100%);
            width:100%;
         
            background-color:rgba(#6F81A6,.9); 
            color:$textColor;
            padding:.3em .7em;
            border-radius:0 0 6px 6px;
            //opacity: 0;
            transition:transform .40s;
            //margin: -5px 0 0 0;


            .title {
               padding:0;
               margin:0;
               text-transform: capitalize;
               font-weight:$regular;
            }

            p {
               margin:0;
               font-size:.7rem;
            }
         }
      }
   }
}



///////// overlay
.overlay {
  position: fixed;
  right:0;
  top:0;
  bottom:0;
  left:0;
  z-index:99999;
  background-color:rgba(0,0,0,.4);
  cursor:pointer;
}


///////// back_to_home
.back_to_home {
  width: 60px;
  height:60px;
  border-radius:50%;
  background-color:#eee;
  color:$primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;

  position: fixed;
  right:88%;
  top:50%;
  z-index: 999999999;
  margin-top:-30px;
  margin-left:-30px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.pf-wrap {
  .button {
    margin-top:3px ;
    margin-bottom:3px;
  }
}

///// portfolio_page
.portfolio_modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  right:0;
  top:0;
  height:100vh;
  width:90%;
  z-index:999999;
  background-color:$primaryColor;
  overflow-y:auto;
  transition:transform .4s ease-in-out;
  transform:translateX(90%) scale(.9);
  padding:40px 60px;
  box-shadow: -10px 0px 10px 1px rgba(0,0,0,.4);
  @media(max-width: $mobile){
    padding:24px 18px;
    width:95%;
  }


  &.show {
    transform:translateX(0) scale(1);
    opacity: 1;
  }

  .portfolio_list{
    @media(max-width: $mobile){
     justify-content: space-between;
   }
  }
  .portfolio_item {
    width:14%;
    margin:1%;
    @media(max-width: $mobile){
      width:46%;
    }
  }
}

.portfolio_page {
  .portfolio_list {
    @media (max-width: $mobile){
      justify-content: space-between;
    }
  }
  .portfolio_item {
    width:14%;
    margin:1%;
    @media(max-width: $mobile){
      width:46%;
      margin: 2% 1%;
    }
  }
}



//////// spinner
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #a7c0f5;
  margin: -2px 0 0 -2px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
