@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');



/////// colors
$primaryColor: #2a4172;
$accentColor: #00b2e0;
$mutedColor: #c9c9c9;
$textColor: #d5e1fa;



/// fonts
$primaryFont: 'Open Sans';
$regular: 400;
$semiBold : 600;
$bold: 700;

$mobile: 768px;